body{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    height: 100vh;
    margin: 0;
    padding: 0;
}
    header {
        border: 1px solid turquoise;
        padding-top: 10px;
        text-align: center;
        background-color: turquoise;
        font-size: large;
        height: 180px;
        margin: 0px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .red{
        color: red;
    }
    .right {
        text-align: right;
    }
    .up {
        text-transform: capitalize;
        font-size: 30px;
    }
    .question {
        color: green;
        font-size: 200px;
    }
    button {
        background-color: turquoise;
        color: white;
        border: 1px solid turquoise;
        margin-left: 80px;
        
    }
    .Name{
        width: 50%;
    }
    #name{
        width: 100%;
    }
    .myName{
        display: flex;
        width: 450px;
    }

    #email{
        width: 100%;
    }

    form{
        align-self: center;
        width: 450px;
        height: 750px;
        /* display: flex; */
    }
    form textarea{
        width: 100%;
    }

    .com{
        height: 253px;
        width: 253px;
        padding: 12px;
        background-color: white;
        /* outline: grey inset 2px; */
        border-radius: 2%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .phone{
        background-image: url('../../images/phone.jpg');
        background-size: cover;
        height: 200px;
        width: 150px;
        align-self: center;
    }

    .text-content{
        margin-top: 15px;
        /* padding: 10px; */
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        /* background-color: whitesmoke; */
        font-family: 'sans-serif';
        font-size: 16px;
        /* align-self: flex-end; */
    }
    